a {
  color: $link_color;
  padding-bottom: 1rem;
  position: relative;
  text-decoration: none;

  &::after {
    background: $link_color;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;

    section & {
      height: 4px;
    }
  }

  &:hover::after {
    left: 0;
    width: 100%;
  }
}
