header {
  background: white;
  border-bottom: 2px solid $primary;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 2;
}

$hero_padding_mobile: 30px;
$hero_padding_desktop: 60px;

.hero {
	align-items: center;
  color: white;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  font-size: 24px;
	justify-content: center;
  margin-top: 72px; // Same as HEADER height
  padding: $hero_padding_mobile;
  position: relative;

  @media (min-width: $desktop-mq) {
    font-size: 34px;
    padding: $hero_padding_desktop;
  }

  &-title,
  &-subtitle {
    background-color: $primary;
    color: white;
    padding: 30px;
    margin-bottom: 0;
  }

  &-title {
    padding-bottom: 0;
  }
}

.brand-name {
  font-size: 30px;
}

.profile-photo {
  align-self: center;
  border-radius: 50%;
  border: solid 3px $primary;
  width: 75px;

  @media (min-width: $desktop-mq) {
    width: 150px;
  }

  &Wrapper {
    padding-bottom: $hero_padding_mobile;
    text-align: center;

    @media (min-width: $desktop-mq) {
      padding-bottom: $hero_padding_desktop;
    }
  }
}